<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPortfolio</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <section>
            <div class="hero">
              <div class="layer">
                <div class="content">
                    <div><div class="name">Tanvi Pokale</div>
                <div class="subtitle">Pursuing BTech in Computer Engineering.</div>
            <!-- <div class="btn"><a href="#about"><button type="button">About Me</button></a></div> -->
            </div> 
                   <div class="side"><img src="/img/s1.jpg" height="350px"></div>
                </div>
              </div>
        </div>

    </section>

    <section class="about" id="about">
        <div class="title">ABOUT ME</div>
            <div class="abt-container">
                 
                    <div class="pict">
                       
                        <img src="/img/s3.JPG"  height="400px">
                             <img src="/img/file.svg" class="overlay">
                        </div>
                       
                        
                    <div class="bio"> I’m a BTech Computer Engineering student with a passion for turning technical knowledge into real
world innovations. I thrive on solving complex problems and building projects that make a real
 impact. My ambition is to contribute to cutting-edge solutions that push technology forward,
 blending creativity with engineering to shape the future.</div>
            </div>
    </section>

    <section>
        <div class="edu-container">
            <div class="edut">Education</div>
            <div class="pic">
                   <div class="sq 1"></div>
                   <div class="line 2"></div>
                   <div class="sq 3"></div>
                   <div class="line 4"></div>
                   <!-- <div class="sq 5"></div>
                   <div class="line 6"></div> -->
            </div>
            <div class="content-cont">
                   <div class="cont">
                    <p class="clg">Bachelor of Technology in Computer Engineering</p>
                    <p class="sub"> Vishwakarma Institute of Technology,Pune</p>
                    <p class="yr"> Sep 2023 - Present</p>
                    <p class="cpi">CGPA: 9.24</p>
                   </div>
                   <div class="cont">
                    <p class="clg"> Higher Secondary Education</p>
                    <p class="sub"> MAEER’s MIT Junior College</p>
                    <p class="yr"> June 2022 - Mar 2023</p>
                    <p class="cpi"> Percentage: 91.33%</p>
                   </div>
            </div>
        </div>
    </section>
     <section>
        <div class="skills-cont">
            <div class="skills1">Skills</div>
            <div class="images">
                <!-- <img src="public\img\sk11.PNG"> -->
                <img src="/img/skl13.PNG" alt="">
                <img src="/img/skl2.svg" alt="">
                <img src="/img/skl14.png" alt="">
                <img src="/img/skl5.png" alt="">
                <img src="/img/skl6.png" alt="">
                <img src="/img/skl17.png" alt="">
                <img src="/img/skl8.png" alt="">
                <img src="/img/skl9.png" alt="">
                <img src="/img/skl10.jpg" alt="">
            </div>
            <div class="line line1"></div>
            <div class="skills">Skills</div>
        </div>
     </section>
     
     <section class="proj">
        <div class="edut">Projects</div>
        <div class="proj-cont">
            <div class="box">
                <p class="pro-name">Cinematic Vision : Ecommerce Website</p><hr>
                <p class="descp"> Developed a specialized online platform enabling users to rent film industry equipment from
 a company’s inventory. </p>
            </div>
            <div class="box">
                <p class="pro-name">Simulation of Multiprogramming Operating System</p><hr>
                <p class="descp">Implemented a multi-programming OS in C by simulating core functionality like program
 loading, memory management, and instruction execution.</p>
            </div>
            <div class="box">
                <p class="pro-name">Heart Disease Prediction Using Machine Learning</p><hr>
                <p class="descp">Developed and evaluated models using Random Forest, Decision Tree, KNN, and Logistic
 Regression.</p>
            </div>
            <div class="box">
                <p class="pro-name">ElderCare Sentinel: Fall detection System</p><hr>
                <p class="descp">It is an elderly person monitoring system that detected falls using an MPU6050 sensor.
 Detects falls and automatically sends an SMS alert with a GPS location to caregivers or
 family members.</p>
            </div>
            <div class="box">
                <p class="pro-name">Patient Health Monitoring System using Machine learning and cloud service</p><hr>
                <p class="descp"> Developed a real-time patient health monitoring system using machine learning and cloud,
 enabling remote tracking, anomaly detection, and real-time alerts for early diagnosis.</p>
            </div>
            <div class="box">
             <p class="pro-name">Lung Cancer Prediction</p><hr>
             <p class="descp"></p>
            </div>
            <div class="box">
             <p class="pro-name">Travel Planner using Dijkstra Algorithmn</p><hr>
             <p class="descp"> Implemented a travel planning system for the district of Pune using Dijkstra's algorithm to
 compute shortest paths between talukas and displayed on terminal.
 Displayed shortest routes taluka wise and travel distances between locations.</p>
            </div>
        </div>
     </section>
<footer>
    <div class="foot">
        <div class="contact">CONTACT</div>
        <div class="contact-cont">
        <div class="cnt"><img src="/img/call.png"><p>Contact:+9190333333330</p></div>
        <div class="cnt"><img src="/img/github.png">
            <p><a href="">Github</a></p></div>    
    <div class="cnt"><img src="/img/linkedin.png"><p><a href="">LinkedIn</a></p></div>    
</div>    
</div>
</footer>
</body>
</html>